BOT_TOKEN=8697819602:AAEithD_psKFXZZZQ4HknXds0y6PGR7UpYc
ADMIN_IDS=1215521113

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=telegram_bot
DB_USER=postgres
DB_PASSWORD=postgres

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# API Keys
WEATHER_API_KEY=your_openweathermap_key
NEWS_API_KEY=your_currentsapi_keyXztpEt6Ef7UkIvyxnejdnEBEYHDdr9pA

# Settings
WEATHER_CACHE_TTL=300
NEWS_CACHE_TTL=1800
THROTTLE_TIME=1
